<header>
    <div class="header-content">
        <center>
            <h2 class="site-title">{{ site.title | escape }}</h2>
            <img src="{{site.url}}assets/images/ananto-dp.jpg" alt="profile-pic" class="profile-pic" />
            <div class="profile-info">
                <!-- <br> -->
                <div class="site-description">
                    <p>{{ site.description }}</p>
                </div>
                <!-- <br> -->
                <hr>
                <div class="social-links">
                    {%- include social-media-links.html -%}
                </div>
                <hr>
            </div>
        </center>
        <div class="header-tabs">
            <p><a href="{{site.baseurl}}/">Home</a></p>
            {%- for page in site.header-tabs -%}
            <p><a href="{{site.url}}{{page.permalink | relative_url}}">{{page.title}}</a></p>
            {%- endfor -%}
        </div>
    </div>
</header>
