<header>
    <div class="header-content">
        <center>
            <h2 class="site-title">{{ site.title }}</h2>
            <img src="{{base.url}}/home/assets/images/ananto-dp.jpg" alt="profile_pic" height="250" style="border-radius: 50%;">
            <div class="profile-info">
                <br>
                <div class="site-description">
                    <p>{{ site.description }}</p>
                </div>
                <br>
                <hr>
                <div class="social-links">
                    {%- include social-media-links.html -%}
                </div>
            </div>
            <hr>
        </center>
        <!-- ekhane loop kore korte hobe eta -->
        <div class="header-tabs">
            <p><a href="/home">Home</a></p>
            {%- for page in site.pages -%}
            <p><a href="{{base.url}}{{page.permalink | relative_url}}">{{page.title}}</a></p>
            {%- endfor -%}
        </div>
    </div>
</header>
https://niananto.github.io/home/
