<header>
    <div class="header-content">
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="burger-icon" onclick="burgerMenu()">
            <i class="fa fa-bars"></i>
        </a>
        <!-- <center> -->
            <span class="site-title"><a href="{{site.baseurl}}">{{ site.title | escape }}</a></span>
            <img src="{{site.baseurl}}{%- link assets/img/profile-pic/ananto-dp.jpg -%}" alt="profile-pic" class="profile-pic" />
            <div class="profile-info">
                <!-- <br> -->
                <div class="site-description">
                    <span>{{ site.description }}</span>
                </div>
                <!-- <br> -->
                <div id="social-links">
                    <hr>
                    {%- include social-media-links.html -%}
                    <hr>
                </div>
            </div>
        <!-- </center> -->
        <div id="header-tabs">
            <p><a href="{{site.baseurl}}/"><i class="fas fa-home fa-fw"></i><span class="header-tab-text"> Home</span></a></p>
            {%- for page in site.header-tabs -%}
            <p><a href="{{site.url}}{{page.permalink | relative_url}}">
                {%- if page.fa-icon -%}
                <i class="{{page.fa-icon}} fa-fw"></i>
                {%- else -%}
                <i class="fa fa-link"></i>
                {%- endif -%}
            <span class="header-tab-text"> {{page.title}}</span></a></p>
            {%- endfor -%}
        </div>
    </div>
    <script src="{{site.baseurl}}{%- link assets/js/header.js -%}"></script>
</header>
