<link type="text/css" rel="stylesheet" href="assets/css/lightgallery.css" /> 

<script src="{{ site.baseurl }}{%- link assets/js/jquery-3.5.1.min.js -%}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="{{ site.baseurl }}{%- link assets/js/lightgallery.all.min.js -%}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#gallery").lightGallery({
            // mode: 'lg-zoom-in',
            thumbnail: true, // default
            preload: 2
        }); 
    });
</script>