/* custom-default */
html * {
    font-family: 'Montserrat', serif;
}

.window {
    display: table;
    width: 100%;
    margin: 0px;
    /* background: lightcyan; /* this is for debugging */
    background: #d3fcff;
}

.window .window-partition {
    display: table-cell;
    /* background: lightcyan; /* this is for debugging */
    background: #d3fcff;
}

#window-left {
    width: 25%;
    background: black;
    color: white;
}

#window-right {
    background: #d3fcff;
    /* background: lightcyan; */
}

.main-content {
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.post-content a:link, .post-content a:visited {
    color: rgb(0, 0, 255);
    text-decoration: none;
}

/* custom-header */
.profile-pic {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    object-fit: cover;
	object-position: 0% 0%;
}

.header-content {
    margin: 20px;
}

.header-tabs {
    margin-top: 30px;
    margin-left: 12%;
    font-size: 20px;
}

.header-tabs a:link, .header-tabs a:visited {
    /* color: black; */
    color: white;
    text-decoration: none;
    /* background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block; */
}

/* .header-tabs a:hover, a:active {
    background-color: red;
} */

/* custom-home */
a:visited.post-link, a:link.post-link {
    color: blue;
    text-decoration: none;
}

/* custom-post */
.post-meta {
    font-size: 12px;
    font-style: italic;
}

.dt-published, .dt-modified {
    color: rgb(167, 164, 164);
}

.p-author h-card {
    color: rgb(90, 90, 90);
}

/* photo-gallery */
.bg-photo_1 {
    width: 1080px; height: 1350px;
    background: url('../images/photo-gallery-sprite.png') -7676px -3265px;
}
.bg-photo_2 {
    width: 1080px; height: 720px;
    background: url('../images/photo-gallery-sprite.png') -1080px -5533px;
}
.bg-photo_3 {
    width: 1080px; height: 1080px;
    background: url('../images/photo-gallery-sprite.png') -0 -5533px;
}
.bg-photo_4 {
    width: 4000px; height: 3000px;
    background: url('../images/photo-gallery-sprite.png') -4898px -0;
}
.bg-photo_6 {
    width: 4898px; height: 3265px;
    background: url('../images/photo-gallery-sprite.png') -0 -0;
}
.bg-photo_7 {
    width: 3644px; height: 1908px;
    background: url('../images/photo-gallery-sprite.png') -4032px -3265px;
}
.bg-photo_5 {
    width: 4032px; height: 2268px;
    background: url('../images/photo-gallery-sprite.png') -0 -3265px;
}


/* .sprite {
    background-image: url(../images/photo-gallery-sprite-2.png);
    background-repeat: no-repeat;
    display: block;

    height: 300px;
    width: 300px;
    object-fit: cover;
}

.sprite-github {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-gmail {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
}

.sprite-linkedin {
    width: 30px;
    height: 30px;
    background-position: -85px -5px;
}

.sprite-photo-1 {
    width: 1080px;
    height: 1350px;
    background-position: -125px -5px;
}

.sprite-photo-2 {
    width: 1080px;
    height: 720px;
    background-position: -1215px -5px;
}

.sprite-photo-3 {
    width: 1080px;
    height: 1080px;
    background-position: -2305px -5px;
}

.sprite-photo-4 {
    width: 4000px;
    height: 3000px;
    background-position: -1215px -1095px;
}

.sprite-photo-5 {
    width: 4032px;
    height: 2268px;
    background-position: -5px -4105px;
}

.sprite-photo-6 {
    width: 4898px;
    height: 3265px;
    background-position: -5225px -5px;
}

.sprite-photo-7 {
    width: 3644px;
    height: 1908px;
    background-position: -5225px -3280px;
}

.sprite-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -3395px -5px;
}

.sprite-tumblr {
    width: 30px;
    height: 30px;
    background-position: -3435px -5px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -3475px -5px;
} */



/* If the browser window is smaller than 600px, make the columns stack on top of each other */
/* @media only screen and (max-width: 600px) {
    .window {
        display: inline-block;
    }
    .window-partition {
      display: block;
      width: 100%;
    }
    #window-left {
        width: 100%;
        background: blue;
        left: 0px;
        top: 0px;
        bottom: 300px;
        right: 600px;
    }
    #window-right {
        position: absolute;
        left: 0px;
        top: 600px;
        right: 600em;
    }
  } */