/* default */
html * {
    font-family: 'Montserrat', serif;
}

/* If the browser window is smaller than 600px, make the columns stack on top of each other */
html {
    font-size: 25px;
}

.window {
    /* background: #d3fcff; */
    background: black;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.window-partition {
    /* background: #d3fcff; */
    background: #f2faff;
    /* width: 100%; */
    /* height: 100%; */
}

div#window-left {
    background: black;
    color: white;
    margin: 0px;
    /* height: 10%; */
}

div#window-right {
    /* background: lightcyan; */
    /* background: #d3fcff; */
    background: #f2faff;
    min-height: calc(100vh - 55px - 108px);
}

.main-content {
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.post-content a:link, .post-content a:visited {
    color: rgb(0, 0, 255);
    text-decoration: none;
}

div#social-links-mobile {
    position: relative;
    left: 5%;
    width: 90%;
    /* background: black; */
    /* z-index: 1; */
    text-align: center;
    letter-spacing: 0.5em;
    padding-top: 15px;
    padding-bottom: 15px;
}

div#social-links-mobile hr {
    display: none;
}

a.social-icons i {
    font-size: 40px;
}

/* header */
.header-content {
    /* padding: 10px; */
    padding-left: 10px;
    padding-right: 10px;
}

span.site-title {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

span.site-title a {
    display: inline;
    color: white;
    text-decoration: none;
    /* text-align: center; doesn't work as h2 is a block element */
    /* font-size: 1.5em;
    font-weight: bolder; */
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
}

.header-content a.burger-icon {
    display: block;
    padding: 8px 10px;
    background: black;
    color: #d3fcff;
    position: absolute;
    top: 15px;
    right: 6.5%;
    left: auto;
    /* transform: translateX(-50%); */
}

.header-content a:active.burger-icon {
    background-color: #d3fcff;
    color: black;
}

.header-content a i {
    /* height: 100px;
    width: 100px; */
    font-size: 40px;
}

img.profile-pic {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0% 0%;
    position: relative;
    top: -10px;
    left: 5%;
    /* top: 22px;
    left: 50%;
    transform: translateX(-50%); */
}

.site-description {
    display: none;
}

#social-links {
    display: none;
}

#header-tabs {
    display: none;
    padding-top: 1px;
    padding-left: 12%;
    position: relative;
    top: -35px;
    font-size: 1.25em;
    text-align: right;
}

/* div#header-tabs hr {

} */

div#header-tabs p {
    width: fit-content;
    /* min-width: 100px; */
    position: relative;
    right: -95%;
    left: auto;
    transform: translateX(-100%);
}

div#header-tabs p a i {
    position: relative;
    left: 95%;
    right: auto;
    transform: translateX(-100%);
}

div#header-tabs p a span {
    position: relative;
    right: 100px;
    left: auto;
}

#header-tabs a:link, #header-tabs a:visited {
    /* color: black; */
    color: white;
    text-decoration: none;
    /* background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block; */
}

/* .header-tabs a:hover, a:active {
    background-color: red;
} */

/* home */
a:visited.post-link, a:link.post-link {
    /* color: blue; */
    color: #006cb0;
    text-decoration: none;
}

/* post */
.post-meta {
    font-size: 18px;
    font-style: italic;
}

.dt-published, .dt-modified {
    color: rgb(167, 164, 164);
}

.p-author h-card {
    color: rgb(90, 90, 90);
}

/* resume */
object#resume-pdf {
    display: none;
}



@media only screen and (min-width: 1000px) {
    html {
        font-size: 17px;
    }

    .window {
        display: table;
        width: 100%;
        height: 100%;
        margin: 0px;
        /* background: lightcyan; /* this is for debugging */
        /* background: #d3fcff; */
        background: #f2faff;
        /* background: white; */
    }

    .window .window-partition {
        display: table-cell;
        margin: 0px;
        /* padding: 0px; */
        /* background: lightcyan; /* this is for debugging */
        /* background: #d3fcff; */
        background: #f2faff;
        /* background: white; */
    }

    div#window-left {
        position: fixed;
        width: 330px;
        min-height: 100vh;
        max-height: 100%;
        /* height: 100%; */
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0px;
        /* padding: 0px; */
        background: black;
        color: white;
        /* transition: 0.05s; */
    }

    div#window-right {
        position: static;
        /* left: 25%; */
        width: calc(100vw - 330px);
        height: 100vh;
        /* background: lightcyan; */
        /* background: #d3fcff; */
        background: #f2faff;
        /* background: white; */
        /* background-image: linear-gradient(to right, white, #d3fcff); */
        /* background-image: linear-gradient(to right, rgba(211, 252, 255, 0), rgba(211, 252, 255, 1)); */
        /* background-image: linear-gradient(to bottom right, #f5f7fa, #c3cfe2); */
        /* background: rgba(211, 252, 255, 0.5); */
    }

    .main-content {
        padding: 20px;
        padding-left: 8%;
        padding-right: 5%;
    }

    div.post-content a:link, div.post-content a:visited {
        color: rgb(0, 0, 255);
        text-decoration: none;
    }

    div#social-links-mobile {
        display: none;
    }

    /* header */
    .header-content {
        /* position: relative; */
        /* top: -40px; */
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    span.site-title {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.5em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    span.site-title a {
        display: inline;
        color: white;
        text-decoration: none;
        /* text-align: center; doesn't work as h2 is a block element */
        position: static;
    }

    div.header-content a.burger-icon {
        display: block;
        padding: 8px 10px;
        background: black;
        color: white;
        width: 35px;
        position: relative;
        top: 10px;
        left: 6%;
        right: auto;
        transform: translateX(-50%);
        /* z-index: 1; */
    }
    
    .header-content a:hover.burger-icon {
        color: #f2faff;
    }
   
    .header-content a:active.burger-icon {
        background-color: #f2faff;
        color: black;
    }

    .header-content a.burger-icon i {
        /* height: 100px;
        width: 100px; */
        font-size: 150%;
    }

    img.profile-pic {
        display: inline-block;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 0% 0%;
        position: static;
    }

    div.profile-info {
        display: inline;
    }
    
    .site-description {
        display: block;
        margin-top: 0.3em;
        text-align: center;
        font-size: 90%;
    }
    
    #social-links {
        display: inline;
        position: static;
        text-align: center;
        letter-spacing: 0.25em;
    }

    a.social-icons i{
        font-size: 120%;
    }

    #header-tabs {
        display: block;
        /* position: relative; */
        /* top: -35px; */
        margin-top: 18%;
        margin-left: 12%;
        padding-top: 0%;
        padding-left: 0%;
        text-align: left;
        font-size: 1.25em;
    }

    div#header-tabs hr {
        display: none;
    }

    div#header-tabs p {
        width: unset;
        position: static;
        transform: unset;
        margin-top: 3%;
        margin-bottom: 2%;
        margin-left: 0%;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: left;
    }
    
    div#header-tabs p a i {
        font-size: 90%;
        position: static;
        transform: translateX(-30%);
    }

    div#header-tabs p a span {
        position: relative;
        left: 10px;
        right: auto;
        font-size: 90%;
    }

    #header-tabs a:link, #header-tabs a:visited {
        /* color: black; */
        color: white;
        text-decoration: none;
        /* background-color: blue;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block; */
    }

    /* .header-tabs a:hover, a:active {
        background-color: red;
    } */

    span.header-tab-text {
        display: inline;
    }

    /* home */
    a:visited.post-link, a:link.post-link {
        /* color: blue; */
        color: #006cb0;
        text-decoration: none;
    }

    /* post */
    .post-meta {
        font-size: 12px;
        font-style: italic;
    }

    .dt-published, .dt-modified {
        color: rgb(167, 164, 164);
    }

    .p-author h-card {
        color: rgb(90, 90, 90);
    }

    /* resume */
    object#resume-pdf {
        display: unset;
    }

}