@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif; */

    background: #000000;
    font-size: 13px;
    line-height: 15px;
    color: #555555;
}

.bold {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.semi-bold {
    font-weight: 500;
    font-size: 14px;
}

.resume {
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

.resume .resume_left {
    width: 280px;
    background: #112238;
}

.resume .resume_left .resume_profile {
    width: 80%;
    height: 224px;
    border: 3px solid white;
    margin: 20px auto;
}

.resume .resume_left .resume_profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 0%;
}

.resume .resume_left .resume_content {
    padding: 0 25px;
}

.resume .title {
    margin-bottom: 10px;
}

.resume .resume_left .bold {
    color: #fff;
}

.resume .resume_left .regular {
    color: #fff;
}

.resume .resume_item {
    padding: 10px 0;
    border-bottom: 2px solid #fff;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
    border-bottom: 2px;
}

.resume .resume_left ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.resume .resume_right ul li {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.resume .resume_left ul li:last-child {
    margin-bottom: 0;
}

.resume .resume_left ul li .icon {
    width: 35px;
    height: 35px;
    background: #112238;
    color: #fff;
    border-radius: 60%;
    margin-right: 15px;
    font-size: px;
    position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data {
    color: #fff;
}

.resume .resume_right .resume_skills ul li {
    display: flex;
    margin-bottom: 10px;
    color: #000;
    justify-content: space-between;
    align-items: center;
}

.resume .resume_left .resume_strengths ul li {
    display: flex;
    margin-bottom: 10px;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.resume .resume_left .resume_abouts ul li {
    display: flex;
    margin-bottom: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.resume .resume_right .resume_skills ul li .skill_name {
    width: 25%;
}

.resume .resume_right .resume_skills ul li .skill_progress {
    width: 60%;
    margin: 0 8px;
    height: 5px;
    background: #ddd;
    color: #fff;
    position: relative;
}

.resume .resume_right .resume_skills ul li .skill_per {
    width: 15%;
}

.resume .resume_right .resume_skills ul li .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #112238;
}

.resume .resume_left .resume_social .semi-bold {
    color: #fff;
    margin-bottom: 3px;
}

.resume .resume_right {
    width: 520px;
    background: #fff;
    padding: 25px;
}

.resume .resume_right .bold {
    color: #112238;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
    padding-left: 0px;
    overflow: hidden;
}

.resume .resume_right ul li {
    position: relative;
}

.resume .resume_right ul li .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.resume .resume_right ul li .info {
    margin-bottom: 8px;
}

.resume .resume_right ul li:last-child .info {
    margin-bottom: 0;
}
