<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="window">
    <div class="window">
      <div class="window-partition" id="window-left">
          {%- include header.html -%}
      </div>
      <div class="window-partition" id="window-right">
          <a href="javascript:void(0);" class="dark-mode-icon" onclick="darkMode()">
            <i class="fas fa-adjust"></i> Dark Mode
          </a>
          <main>
          <div class="main-content">
              {{ content }}
          </div>
          </main>
      </div>
      <div id="social-links-mobile">
        <hr>
        {%- include social-media-links.html -%}
        <hr>
      </div>
    </div>
    <script src="{{site.baseurl}}{%- link assets/js/dark-mode.js -%}"></script>
    <script> if(window.innerWidth > 1000) darkMode(); </script>
  </body>
</html>