<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="window">
    <div class="window">
        <div class="window-partition" id="window-left">
            {%- include header.html -%}
        </div>
        
        <!-- this is to automatic set this page in full view mode -->
        <script>
            if ( window.innerWidth > 1000 ) {
                // burgerMenu();
            }
        </script>

        <div class="window-partition" id="window-right">
            <main>
                <div class="main-content">
                    <article class="post">

                    <header class="post-header">
                        <h1 class="post-title">{{ page.title | escape }}</h1>
                    </header>

                    <div class="post-content">
                        {{ content }}
                    </div>

                    </article>
                </div>
            </main>
        </div>

        <div id="social-links-mobile">
            <hr>
            {%- include social-media-links.html -%}
            <hr>
        </div>

    </div>

      {%- include justifiedgallery.html -%}
      <!-- {%- include lightbox.html -%} -->
      {%- include lightgallery.html -%}

  </body>
</html>